[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bandit = "*"

[packages]
django = "*"
django-nested-admin = "*"
djangorestframework = "==3.11"
pillow = "*"
django-rest-knox = "==4.1.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
